<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/020c2b5f5e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/van-shuttle-solid.svg">
    <title>Van Life</title>
</head>
<body>

    <header>
        <hr> <p class="lead"> <img src="../images/umbrella-beach-solid.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> Vidas de viajeros.  </p> <hr>
    </header>
    <div class="container-van">
        <article>
            <hr>
            <p> Además del turismo convencional hay muchas formas nuevas de viajar...</p>
            <p> Incluso hay gente que vive haciéndolo, transformando su cotidianeidad en algo extraordinario.</p>
            <hr>
            <div class="card gif-1"> <img src="../images/van-life1.gif" alt="van-life1"></div>
            <hr>
            <p> Una de esas formas es hacer de tu vehículo tu propio hogar.</p>
            <p> Los hay de todos los tamaños y adaptados a muchas variantes de presupuestos, necesidades y canditad de viajantes. </p>
            <hr>
        </article>

        <main>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        ¿..Y cómo sería?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> 
                            <hr><p>Una de las ventajas de viajar en tu propio vehículo es que donde más te encante puede ser tu <strong>patio</strong> por estos días.</p><hr>
                            <img src="../images/van-life2.jpg" class="img-fluid" alt="life2">
                            <img src="../images/van-life4.jpg" class="img-fluid" alt="life4">
                            <img src="../images/van-life8.jpg" class="img-fluid" alt="life8">
                            <hr><p> Muchos campings tienen incluso <strong>áreas de trabajo</strong> con internet para que puedas hacer todo lo que necesitás y no te sientas desconectado del mundo. </p><hr>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Diferentes formas, diferentes ideas, diferentes presupuestos. 
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <hr><p> Si tu vehículo va a ser tu propia casa, podés elegir entre infinidad de propuestas de acuerdo a tus posibilidades y gustos.</p>
                        <p> Tenés desde antiguas a modernas... con mucho espacio o poco espacio, vintage... lo que elijas!</p><hr>
                        <img src="../images/van-life5.webp" class="img-fluid" alt="life5">
                        <img src="../images/van-life6.jpg" class="img-fluid" alt="life6">
                        <img src="../images/van-life7.jpg" class="img-fluid" alt="life7">
                        <hr><p> Muchas personas se dedican a personalizar vehículos y pueden ayudarte a buscar opciones acordes a tus necesidades.</p>
                        <p>Acá de tejamos el <strong>instagram</strong> de una de ellas.</p>
                        <hr>
                        <a class="redes" target="_blank" href="https://www.instagram.com/apurocamp/"> <strong><i class="fa-brands fa-instagram"></i>A Puro Camp </strong></a>
                        
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Hay muchas apps que pueden ayudarte.
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <hr><P>Solo no se puede</P>
                            <P>Por eso hay muchas apps que desarrolladores crearon especialmente para que te sientas cómodo en cualquier lado, intercambies recomendaciones y opiniones con otros viajeros y te seintas seguro en los caminos.</P> <hr>
                            <img src="../images/googleMaps.png" class="img-fluid" alt="google">
                            <img src="../images/caravanya.jpeg" class="img-fluid" alt="caravanya">
                            <img src="../images/iOverLander.jpeg" class="img-fluid" alt="overlander">
                            <hr><P>En el siguiente link vas a encontrar mucha más información sobre estas y otras apps.</P>
                            <hr><a class="redes" target="_blank" href="appReview.html"> <strong><i class="fa-brands fa-medapps"></i> Ir a Apps appReview. </strong></a> <hr>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <article>
            <p> Te vamos a presentar a tres personas increibles.</p>
            <p> Dos de ellos son Caro y Santi de Hakuna Matata por el Mundo. Vianan hace más de mil días en su Motorhome.</p>
            <p> Tienen su canal de youtube y también su propia tienda online.</p>
            <iframe width="100%" src="https://www.youtube.com/embed/ORjwWC0AoMw" title="😭 Llegamos a la ÚLTIMA CIUDAD de nuestro viaje por Sudamérica [Cartagena de Indias] 🌎 Colombia Ep.14" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p> También te vamos a presentar a Pablito Viajero, que pretende unir a Ushuaia con Alaska en su Moto Econo C90 </p>
            <iframe width="100%" src="https://www.youtube.com/embed/fwz0CgAh1N0" title="EN ESTA CIUDAD DE ECUADOR ME QUEDO A VIVIR😍🙌 | CUENCA🇪🇨" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Seguilos en las redes y ayudalos a seguir cumpliendo su sueño de vivir viajando.</p> <hr>
        </article>
    </div>
    <footer>
        <hr><a class="redes" target="_blank" href="../../index.html"> <strong><i class="fa-solid fa-house"></i>Volver al Inicio</strong></a><hr>
        <p><i class="fa-regular fa-registered"></i>Tienda Fly - Todos los derechos reservados</p>
        <a class="redes" target="_blank" href="https://www.linkedin.com/in/cecilia-accettura-b24900127/"> By <i class="fa-brands fa-linkedin"></i>Cecilia Accettura</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>